@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Righteous&display=swap');@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Righteous&display=swap');

:root {
    --light-color:#7EA1BF;
    --body-color:#132F40;
    --heading-color:#456B8C;
    --contrast-color:#cea8bc;

    --vertical-space: 50px;
}

body {
    font-size: 18px;
    line-height: 1.5;
    font-family: 'Montserrat', sans-serif;
    color: var(--body-color);
    background-image: radial-gradient(circle at center center, transparent,rgb(255,255,255)),repeating-linear-gradient(135deg, rgb(255,255,255) 0px, rgb(255,255,255) 12px,transparent 12px, transparent 19px,rgb(255,255,255) 19px, rgb(255,255,255) 24px,transparent 24px, transparent 28px),repeating-linear-gradient(45deg, rgb(245,245,245) 0px, rgb(245,245,245) 7px,transparent 7px, transparent 14px),linear-gradient(90deg, rgb(255,255,255),rgb(255,255,255));
}

.subtitle{
    margin-top: 3vh;
}

section{
    padding-top: var(--vertical-space);
    margin-bottom: 2em;
    margin-left: 6vw;
    margin-right: 6vw;
}

#intro{
    background: url("../images/olena-sergienko-dIMJWLx1YbE-unsplash.jpg")
                center center no-repeat fixed;
    background-size: cover;
    color: white;
    height: 100vh;
    margin: 0 0;
}

nav.navbar {
    background-color:#E6F3FF;
}

.navbar-brand {
    font-family: 'Righteous', cursive;
    padding: 0;
    font-size: 25px;
}

#icon {
    height: 13em;
    margin-top: 10vh;
    margin-bottom: 11vh;
}

#intro h1{
    margin-bottom: 19vh;
    font-weight: bold;
}

#about img{
    max-width: 100%;
    border-radius: 50%;
}

#selfie{
    margin-top: 5vh;
    align-items: center;
}

#selfIntro{
    margin-top: 5vh;
}

h2, h3, h4{
    line-height: 1.2;
    font-family: 'Righteous', cursive;
    color:var(--heading-color);
}

#projectContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 5vh 5vw;
    justify-content: center;
    align-content: space-between;
}

.fitem{
    flex-basis: 85%;
    margin-right: 5%;
    margin-right: 5%;
    height: 20em;
}

.project{
    background: url("../images/project.jpg") center center;
    background-size: cover;
    width: 100%;
    height: 80%;
    margin-top: 10px;
    text-align: center;
}

#RoseGPE{
    background: url("../images/IMG_20210519_144523.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#PortWeb{
    background: url("../images/_C__Users_suq_Documents_GitHub_Sqzlnsy.github.io_portfolio_index.html.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

.project div {
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 70%;
    text-align: left;
    padding-bottom: 7%;
    padding-left: 7%;
    padding-right: 7%;
    color: white;
    
}


.project h3 {
    color: white;
    padding-top: 10%;
    background-color: rgba(0, 0, 0, 0);
    margin-bottom: 0;
    height: 30%;
}

.project a {
    color: darkturquoise;
}


.fitem img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 30%;
}

#emailAddress{
    text-decoration: underline;
    color: darkorchid;
}
#emailAddress:hover {
    color:var(--contrast-color);
}

footer {
    text-align: center;
    margin-bottom: 2em;
    font-size: 80%;
}


@media (min-width: 576px) {
    .fitem{
        flex-basis: 42%;
    }

    footer {
        font-size: 100%;
    }
}

@media (min-width: 992px) {
    .fitem {
        flex-basis: 28%;
    }
}
